.containerMovies{
    padding-top: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.cardMovie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

img{
    max-height: 150px;
}